$orange: #FF6B35;
$blue: #005377;
$blue-green: #086375;
$teal: #1DD3B0;
$dark-grey: #384D48;
$light-grey: #B7B5B3;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $blue-green;
}

// input {
//   border: 1px solid #DEDEDE;
//   border-radius: 5px;
//   padding: 10px;
//   width: 90%;
//   margin-right: .5%;
// }

// button {
//   width: 9%;
//   background: #4286f4;
//   border: 1px solid #DEDEDE;
//   border-radius: 5px;
//   padding: 10px;
// }

// Navigation
nav {
  background-color: $blue;
}

// User Sign up
.new-user-card {
  color: $teal;
  text-align: center;
  background: $blue;
}

#new-user-form {
  margin: 15px;
}

#new-user-btn {
  width: 100%;
}

// Chat room
.user-section {
  background-color: $light-grey;
  height: 82vh;
}
.chat-section {
  // background: $light-grey;
  // width: 100%;
  // height: 80vh;
}
.message-area {
  background: #F7F9F8;
  height: 70vh;
  overflow-y: scroll;
}
#chat-message-form {
  background: $light-grey;
  padding: 3px;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  background: #F7F9F8;
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
}
