$orange: #FF6B35;
$blue: #005377;
$blue-green: #086375;
$teal: #1DD3B0;
$dark-grey: #303947;
$light-grey: #B7B5B3;
$off-white: #F7F9F8;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: $dark-grey;
}

.material-icons {
  color: $teal;
  margin-left: 10px;
}

.italic {
  font-style: italic;
  font-weight: 300;
}
input {
  // border: 1px solid #DEDEDE;
  // border-radius: 5px;
  // padding: 10px;
//   width: 90%;
//   margin-right: .5%;
}

// button {
//   width: 9%;
//   background: #4286f4;
//   border: 1px solid #DEDEDE;
//   border-radius: 5px;
//   padding: 10px;
// }

// Navigation
nav {
  background-color: $blue;
}

.main {
  margin-bottom: 0;
}

// User Sign up
.new-user-card {
  color: $off-white;
  text-align: center;
  margin: 20px auto;
  background: $dark-grey;
  width: 420px;
}

#new-user-form {
  margin: 15px;
}

#new-user-btn {
  width: 100%;
}

// Chat room
.user-section {
  color: $off-white;
}
#user-list {
  li {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
  }
  min-height: 360px;
}
.chat-section {
  // background: $light-grey;
  // width: 100%;
  // height: 80vh;
}
.message-area {
  position: relative;
  padding: 15px;
  background: $off-white;
  height: 70vh;
  overflow-y: scroll;
}
.typing-notification {
  position: absolute;
  bottom: 0;
}

#chat-message-form {
  background: $dark-grey;
  color: $off-white;
  padding: 3px;
  width: 100%;
}

.message-user {
  color: $teal;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li,
#messages h5 {
  background: $off-white;
  padding: 5px 10px;
  margin-top: 0;
}

#messages li:nth-child(odd) {
}
